span {
		border: 1px solid;
		padding: 5px;
}

img {
	height: 60px;
	text-align: center;
}
	.container {
		border-radius: 5px;
		font-family: Avenir, Helvetica, Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: #2c3e50;
		width: 600px;
		background-color: rgba(33, 90, 141, 0.311);
		box-shadow: 0 1px 0 1px rgba(128, 128, 128, 0.401);
	}

	.data {
		margin-bottom: 3px;
		border-radius: 5px;
		width: 300px;
		height: 90px;
		margin-right: 100px;
	}

	.data h3 {
		letter-spacing: 2px;
		font-weight: bold;
		font-size: 15px;
		text-transform: uppercase;
	}
	select {
		border-radius: 5px;
		width: 400px;
		background-color: gainsboro;
		padding: 5px;
	}

	button {
		background-color: gainsboro;
		border: 1px solid;
		border-radius: 5px;
		padding: 5px;
		margin-bottom: 10px;
		margin-top: 10px;
		letter-spacing: 2px;
		font-weight: 700;
		text-transform: uppercase;
		height: 50px;
		width: 400px;
		cursor: pointer;
	}

.final-result {
	width: 100%;
	border: 1px dashed gray;
	display: flex;
}


.final-result p {
	text-transform: capitalize;
	padding: 5px;
	font-size: 16px;
	letter-spacing: 2px;
	font-weight: bolder;
	margin-left: 90px;
}
#app {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.warning {
	padding: 20px;
	background-color: #f44336;
	border: 1px solid black;
	margin-bottom: 20px;
}